
@{
    ViewBag.Title = "نحوه ثبت سفارش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner" style="padding:40px 0; background: url(../Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="breadcrumbs" style="width:100%; text-align:right">
                    <li>نحوه ثبت سفارش</li>
                    <li><a href="/">صفحه اصلی</a></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align:right">
                <h2>نحوه ثبت سفارش</h2>
                <p>مرکز چاپ صارم</p>
            </div>

        </div>
    </div>
</div>


<div class="container text-right direction-right">
    <dl class="alert alert-success">
        <h2>شروع</h2>
        <dt>
            <h4>
                <strong>1 - لازم است برای ثبت سفارش ابتدا به بخش محصول مورد نظر وارد شوید. برای اینکار روی منوی بالای سایت قسمت "خدمات" کلیک کنید</strong>
                <strong>. </strong>
                <strong>
                    در این بخش تمامی محصولات و خدمات چاپ صارم را مشاهده خواهید نمود که می توانید روی محصول خاصی که مد نظر شماست کلیک نموده و به آن وارد شوید و یا روی ایکن
                    محصولات مورد نظر در قسمت پایین صفحه رفته و روی ان کلیک نمایید .
                </strong>
                <strong></strong>
            </h4>
        </dt>
    </dl>

    <dl class="alert alert-success">
        <h2>نحوه چاپ</h2>
        <dt>
            <h4>
                <strong>2 - نحوه چاپ</strong>
                <strong> </strong>
                <strong>برای هر محصول توضیحات داده شده است. لازم به ذکر می باشد که برای ورود به قسمت سفارش لازم است رو کلید مشاهده جزئیات کلیک نمایید .</strong>
                <strong></strong>
                <br/>
                <strong>3 – روی دکمه ی ثبت سفارش که برای هر محصول به طور جداگانه تعبیه شده است کلیک نمائید</strong>
                <strong>.</strong>
                <strong></strong>

            </h4>
        </dt>
    </dl>

    <dl class="alert alert-success">
        <h2>ثبت سفارش</h2>
        <dt>
            <h4>
                <strong>4 – پس از ورود به بخش ثبت سفارش ابتدا لازم است مشخصاتی را وارد نمائید که شامل تعداد، اندازه چاپ، تعداد چاپ و... میباشد</strong>
                <strong>. </strong>
                <strong>همچنین در این بخش نیاز است عکس خود را آپلود کنید. در صورتی که برای سفارش خود توضیحات خاصی مد نظر دارید حتما در بخش توضیحات مرقوم نمایید</strong>
                <strong>
                    .
                    <br />
                    <br />
                </strong>
                <strong>
                    5 - بعد از پر نمودن مشخصات مربوطه با زدن کلید ارسال فرم به صفحه بعدی خواهید رفت که باید مشخصات خود را برای ارسال محصول وارد نمائید. توجه نمائید که
                    اطلاعات خود را حتما به صورت صحیح وارد کنید تا ارسال مرسوله بدرستی صورت شود
                </strong>
                <strong>
                    .
                    <br />
                    <br />
                </strong>
                <strong>6 - در این مرحله شما از مبلغ و هزینه سفارش خود مطلع خواهید شد</strong>
                <strong>
                    .
                    <br />
                    <br />
                </strong>
                <strong>7 - </strong>
                <strong> </strong>
                <strong>بعد از اتمام وارد کردن اطلاعات لازم است کلید ثبت مشخصات را زده تا سفارش شما برای ما ارسال گردید</strong>
                .
            </h4>
        </dt>
    </dl>

    <dl class="alert alert-success">
        <h2>پرداخت</h2>
        <dt>
            <h4>
                <strong>8 - با انجام این مراحل و دریافت رسید مطمئن باشید که سفارش شما ثبت شده است</strong>
                <strong>. </strong>
                <strong>مرحله بعدی واریز کل مبلغ و یا مقداری به عنوان بیعانه میباشد تا سفارش شما وارد مرحله اجرا گردید شماره کارت </strong>
                <strong> 6037997146820957</strong>
                <strong> مربوط حساب شماره </strong>
                <strong>0102407244001</strong>
                <strong> بنام جلیل عطائی کریمی برای این منظور در نظر گرفته شده </strong>
                <br/>
                <strong>
                    9 – پس از واریز وجه حتما شماره ارجاع و شماره سفارش و مبلغ واریز شده را به تلفن 09121407845 پیامک نمایید با این کار در انجام سفارش خود تسریع مینمائید .
                </strong>
                <strong>
                    <br />
                </strong>
                <strong>10 - هر سوال در این زمینه دارید کارشناسان ما در واحد فروش آماده پاسخگوئی به شما هستند</strong>
                <strong>.</strong>
            </h4>
        </dt>
    </dl>

</div>





@section TagMeta{

    چاپ صارم چاپ روی انواع سطوح

}

@section ContentMeta{

    چاپ صارم چاپ روی انواع سطوح

}

@section AuthorMeta{
    گروه صنعتی چاپ صارم ارائه دهنده خدمات نوین چاپ
}
