
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.notyfi</h2>

@section TagMeta{

   

}
@section ContentMeta{

  

}
@section AuthorMeta{
    گروه صنعتی چاپ صارم ارائه دهنده خدمات نوین چاپ
}
