@{
    ViewBag.Title = "حفظ حریم شخصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-banner" style="padding:40px 0; background: url(../Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="breadcrumbs" style="width:100%; text-align:right">
                    <li>حفظ حریم شخصی</li>
                    <li><a href="/">صفحه اصلی</a></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align:right">
                <h2>حفظ حریم شخصی</h2>
                <p>مرکز چاپ نوین</p>
            </div>

        </div>
    </div>
</div>

<div class="container" style="margin-top:30px;text-align:right">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">

                <!-- Classic Heading -->
                <h4 class="classic-title"><span>حفظ حریم شخصی</span></h4>


                <p dir="RTL">
    <em>1. </em>
    <em>
        تمامی اطلاعات ارسال شده توسط سفارش دهندگان که در فرم سفارشات ثبت میشود شامل نام، ایمیل، آدرس و فایل و حقوق مادی و معنوی تمامی فایل های ارسال شده را به
        صورت کاملا دقیق محافظت نموده
    </em>
    <em>و </em>
    <em>چاپ صارم تعهد می نماید که در اختیار هیچ شخص، سازمان و یا گروهی قرار نمیگیرد .</em>
    <em></em>
</p>
<p dir="RTL">
    <em>2. </em>
    <em>
        همه کارکنان چاپ صارم از افراد امین و با تخصص میباشند و در قبال حفظ امنیت فایل ها تعهد داده اند و از آنها تضمین اخلاقی ، حقوقی و مالی گرفته شده است. لذا
        در این مورد هیچگونه دلواپسی وجود نخواهد داشت.
    </em>
</p>
<p dir="RTL">
    <em>3. </em>
    <em>
        هیچ مسئولیتی را در قبال حقوق واقعی فایل هائی که ارسال شده اند متوجه چاپ صارم نخواهد بود. یعنی در صورتی که فایل ارسالی مربوط به شخصی بود که رضایت نداشته
        از ان استفاده شود چاپ صارم در این مورد مسئولیتی نمی پذیرد و نقض حقوق مادی و معنوی فایلی که ارسال شده به عهده ارسال کننده خواهد بود.. لذا صرف نظر از
        اینکه عکس ارسالی در اصل مربوط به چه کسی می باشد و یا چه محتوائی دارد برای ارسال کننده چاپ خواهد شد. پس خواهشمند است در این مورد دقت فرمائید.
    </em>
</p>
<p dir="RTL">
    <em>4. </em>
    <em>چاپ عکس و متن های مسـتهجن و دارای محتوای مجرمانه به هر عنوان توسط چاپ صارم انجام نخواهد شد.</em>
</p>
<p dir="RTL">
    <em>5. </em>
    <em>
        بعد از 2 هفته تمامی اطلاعات ارسالی که در سیستم سفارشات سایت چاپ صارم ثبت می شود بعد از اینکه چاپ و به سفارش دهنده تحویل گردید به طور کامل حذف خواهد
        گردید و غیرقابل بازیابی می باشد. بنابراین در صورتی که تمایل دارید فایل شما نزد ما نگهداری شود حتما این موضوع را در فرم ثبت سفارش مرقوم فرمائید.تا فایل
        جهت چاپ و یا استفاده مجدد نگهداری شود.
    </em>
</p>
<p dir="RTL">
    <em>6. </em>
    <em>چاپ صارم بدون اجازه از طرح ارسالی توسط </em>
    <em>مشتریان</em>
    <em> برای فروش در سایت استفاده نمی نماید.</em>
</p>
<p dir="RTL">
    <em>7. </em>
    <em>
        چاپ صارم پیگیری خواهد نمود تمامی سفارشات ارسال شده و به طور کامل به دست سفارش دهنده برسداما اگر بیش از یک هفته از ارسال سفارش بگذرد و سفارش دهنده در
        دسترس نباشد، فرم سفارش را ناقص پر کرده باشد و یا سفارش خویش را پیگیری ننماید . مسئولیت به عهده سفارش دهنده است.
    </em>
</p>
<p dir="RTL">
    <em>8. </em>
    <em>
        فایل ها بدون تغییر و به همان شکلی که توسط مشتری فرستاده شده است چاپ می شود و در صورتی که تصاویر دارای کیفیت و مشخصات مناسب نباشند، چاپ صارم هیچ گونه
        مسئولیتی در قبال عدم کیفیت نهائی آنها در هنگام چاپ نخواهد داشت. بنابراین فایل های ارسالی حتما باید با کیفیت مطلوب و با مشخصات مناسب ارسال شوند.
    </em>
</p>
<p dir="RTL">
    <em>9. </em>
    <em>
        در صورتی که تصاویر ارسالی توسط مشتری، نیاز به طراحی و یا تغییر داشت و یا خود سفارش دهنده درخواست طراحی بنماید هزینه ی مربوطه بصورت جدا گانه و طی
        هماهنگی از ایشان دریافت می گردید.
    </em>
</p>
            </div>
        </div>
    </div>
</div>

@section TagMeta{


    چاپ صارم چاپ روی انواع سطوح



}

@section ContentMeta{

    چاپ صارم چاپ روی انواع سطوح

}

@section AuthorMeta{
    گروه صنعتی چاپ صارم ارائه دهنده خدمات نوین چاپ
}
