
@{
    ViewBag.Title = "قوانین ارجاع و تعویض";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner" style="padding:40px 0; background: url(../Content/images/slide-02-bg.jpg) center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="breadcrumbs" style="width:100%; text-align:right">
                    <li>قوانین ارجاع و تعویض</li>
                    <li><a href="/">صفحه اصلی</a></li>
                </ul>
            </div>
            <div class="col-md-6" style="text-align:right">
                <h2>قوانین ارجاع و تعویض</h2>
                <p>مرکز چاپ نوین</p>
            </div>

        </div>
    </div>
</div>

<div class="container" style="margin-top:30px;text-align:right">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <p align="right">
                    <strong><em>قوانین ارجاع و تعویض</em></strong>
                    <strong><em></em></strong>
                </p>
                <p dir="RTL">
                    <em>1. </em>
                    <em>لازم است فایل ها حتما با کیفیت مطلوب ارسال گردد ، فایل های ارسالی </em>
                    <em>توسط </em>
                    <em>
                        شما به همان صورتی که برای ما فرستاده اید و بدون تغییر چاپ می شود و در صورتی که تصاویر ارسالی دارای کیفیت مناسب نباشند ، چاپ صارم هیچ گونه مسئولیتی در
                        قبال عدم کیفیت آنها نخواهد داشت.
                    </em>
                    <em></em>
                </p>
                <p dir="RTL">
                    <em>2. </em>
                    <em>
                        تصاویر ارسالی در صورتی که نیاز به تغییر داشته باشند این کار از طریق واحد طراحی چاپ صارم انجام شده و هزینه ی مربوطه طی هماهنگی از مشتری اخذ خواهد شد.
                    </em>
                </p>
                <p dir="RTL">
                    <em>3. </em>
                    <em>
                        مسئول طراحی و یا تغییرات درخواستی از واحد طراحی چاپ صارم روی عکس شما می باشید. لذا در صورتی که تغییرات و یا طراحی درخواستی باب میل شما واقع نگردید.
                        انجام تغییرات ثانوی شامل هزینه مجدد خواهد بود. به همین علت سعی نمائید تا ایده نهائی و یا نظر قطعی خود را بعد از بررسی به واحد طراحی اعلام بفرمائید.
                    </em>
                </p>
                <p dir="RTL">
                    <em>4. </em>
                    <em>
                        ثبات رنگ محصولات پخت بالا شامل کاشی و سرامیک فضای خارجی توسط شرکت چاپ صارم دارای 1 سال ضمانت می باشند در صورت بروز نقصی که در اثر عوامل ضمانت شده بوجود
                        بیاید چاپ صارم خود را ملزم به انجام مجدد آن میداند. ولازم است که مشتری محصولی را که دچار مشکل شده است راجهت بررسی به شرکت ارسال نماید.
                    </em>
                </p>
                <p dir="RTL">
                    <em>5. </em>
                    <em>
                        یک محصول به عنوان تست در سفارشات تعداد و متراژ زیاد، در صورتی که برروی نوع کیفیت محصولات خود حساس هستید قبل از چاپ نهائی برای شما چاپ می شود. این مورد
                        به این خاطر توسط چاپ صارم توصیه می شود. که شما تصویر دقیقی از محصولی که دریافت خواهید نمود داشته باشید
                    </em>
                </p>
                <p dir="RTL">
                    <em>6. </em>
                    <em>بروز خسارت در هنگام ارسال با پست و یا باربری به عهده شرکت نمی باشد.</em>
                </p>
                <p dir="RTL">
                    <em>7. </em>
                    <em>
                        حق فسخ در صورتی که چاپ صارم به دلایلی که خارج از اراده ی او می باشد و توان تحویل کالا را در موعد مقرر نداشته باشد و طرفین درباره یک موعد جدید به توافق
                        نرسند، با خریدار میباشد .
                    </em>
                </p>
                <p dir="RTL">
                    <em>8. </em>
                    <em>خریدار حق مطالبه ی مبلغ واریزی را در صورتی که تحویل کالا در موعد مقرر صورت نگیرد را خواهد داشت.</em>
                </p>
                <p dir="RTL">
                    <em>9. </em>
                    <em>حداکثر تا 48 ساعت هرگونه نقص و ایراد در محصولات ارسالی باید به مرکز پشتیبانی چاپ صارم گزارش گردد.</em>
                </p>
                <p dir="RTL">
                    <em>10. </em>
                    <em>هنگام ارجاع ارائه ی فاکتور خرید صادره از چاپ صارم الزامی است.</em>
                </p>
                <p dir="RTL">
                    <em>11. </em>
                    <em>
                        اگر کالا به علت اشتباه کارکنان چاپ صارم به آدرسی غیر از آدرس مشتری ارسال شده باشد ( و پست و یا باربری اشتباه نکرده باشند )هزینه های مربوط به ارجاع آن
                        به عهده ی چاپ صارم می باشد.
                    </em>
                </p>
                <p dir="RTL">
                    <em>12. </em>
                    <em>چاپ صارم مسئولیتی در مورد اینکه مشتری در درج آدرس خویش دچار اشتباه گردیده ، نخواهد داشت.</em>
                </p>
                <p dir="RTL">
                    <em>13. </em>
                    <em>
                        اگر کالائی به صورت واسطه ای از چاپ صارم خریداری شده باشد چاپ صارم مسئولیتی در قبال شخص ثالث نخواهد داشت. و به شخص قید شده در فاکتور پاسخ گو خواهد بود.
                    </em>
                </p>
                <p dir="RTL">
                    <em>14. </em>
                    <em>
                        تا زمانی که بیعانه ای برای سفارش پرداخت نشده است امکان لغو وجود دارد و پس از ان بسته به پیشرفت کار از مبلغ واریز شده هزینه کسر خواهد شد و امکان لغو
                        سفارش وجود نخواهد بود و در صورت اتمام کار مشتری باید کل هزینه فاکتور را بپردازد .
                    </em>
                </p>

            </div>
        </div>
    </div>
</div>
@section TagMeta{


    چاپ صارم چاپ روی انواع سطوح



}

@section ContentMeta{

    چاپ صارم چاپ روی انواع سطوح

}

@section AuthorMeta{
    گروه صنعتی چاپ صارم ارائه دهنده خدمات نوین چاپ
}
