<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
</head>
<body>
    <!-- Full Body Container -->
    <div id="container">


          <!-- End Header Section -->
        <!-- Start Home Page Slider -->
        <section id="home">
            <!-- Carousel -->
            <div id="main-slide" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slide" data-slide-to="1"></li>
                    <li data-target="#main-slide" data-slide-to="2"></li>
                </ol>
                <!--/ Indicators end-->
                <!-- Carousel inner -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="../Content/images/slider/bg1.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated2 white">
                                    <span>به سایت چاپ صارم خوش آمدید </span>
                                </h2>
                                <h3 class="animated3 white">
                                    <span>مرکز چاپ نوین </span>
                                </h3>
                                <p class="animated4 white">
                                    <a href="#" class="slider btn btn-system btn-large">بازدید</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                        <img class="img-responsive" src="../Content/images/slider/bg2.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4 white">
                                    <span><strong> انواع چاپ باکیفیت بالا</strong> </span>
                                </h2>
                                <h3 class="animated5">
                                    <span>ترکیب رنگ چشم نواز</span>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                        <img class="img-responsive" src="../Content/images/slider/bg3.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated7 white">
                                    <span>چاپ بر روی انواع سطوح</span>
                                </h2>
                                <h3 class="animated8 white">
                                    <span>چاپ انواع هدایای تبلیغاتی</span>
                                </h3>

                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                </div>
                <!-- Carousel inner end-->
                <!-- Controls -->
                <a class="left carousel-control" href="#main-slide" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#main-slide" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
            <!-- /carousel -->
        </section>
        <!-- End Home Page Slider -->
        <!-- Start Services Section -->
        <div class="section service">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <img src="../Content/images/tileceram.png" />
                    </div>
                    <div class="col-md-8">
                        <h3 style="text-align:justify;direction:rtl">
                            چاپ صارم با شعار ارائه خدمات مدرن و راهکارهای نوین چاپ دیجیتال پا بر عرصه وجود نهاد. چاپ روی انواع کاشی و سرامیک، انواع پارچه شامل تیشرت، لباس، شال، انواع ظروف شامل لیوان، بشقاب و ظروف پذیرائی و همچنین ارائه راهکاری خاص برای چاپ روی دیگر سطوح از خدمات ویژه ی چاپ صارم محسوب میگردد. توجه به کیفیت، ارائه ی بهترین تولیدات و همچنین بکار بردن متد مبتکرانه برای ایجاد بالاترین کیفیت از محاسن چاپ صارم محسوب می گردد. آنچه ما را از دیگران متفاوت می سازد تضمین خدمات و ارائه بهترین کیفیت است. ما ارائه ی نوین و متفاوتی را برایتان به ارمغان خواهیم آورد و زیبائی ها را با چشمانتان تقسیم خواهیم نمود. کارشناسان و متخصصان ما در بخش پشتیبانی چاپ صارم همواره آماده پاسخگوئی به پرسشهای عزیزان می باشند. چاپ صارم را با نام یک شرکت تخخصی چاپ به خاطر بسپارید.
                        </h3>
                    </div>
                </div><!-- .row -->
            </div><!-- .container -->
        </div>
        <!-- End Services Section -->
        <!-- Start Purchase Section -->
        <div class="section purchase">
            <div class="container">
                <div class="row">
                    <div class="col-md-7" style="border:solid medium #fff">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="../Content/images/clash-of-clasns-tshirt-off.png" />
                            </div>
                            <div class="col-md-4">
                                <p style="color:#fff; text-align:justify;direction:rtl;font-size:18px">
                                    تیشرت پرطرفدار کلش آف کلنز! قیمت این تیشرت با تیراژ 1000 عدد 14200 تومان است که گزینه بسیار خوبی برای فروشگاه ها میباشد. با ما تماس بگیرید...
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">

                        <!--<h1 class="fittext wite-text uppercase tlt text-right">
                            <span class="texts">
                                <span>با کیفیت</span>
                                <span>زیبا</span>
                                <span>جدید</span>
                                <span>همراه با تخفیف</span>

                            </span>

                        </h1>-->

                        <div class="takhfif">
                            <i class="fa fa-coffee fa-2x"></i>
                            تخفیف ویژه چاپ صارم
                            <br>
                            <span class="font"> Special Deals Week </span>
                        </div>

                    </div>
                </div>

                <!-- Start Video Section Content -->
                <div class="section-video-content text-center">

                    <!-- Start Animations Text -->
                    <!-- End Animations Text -->
                    <!-- Start Buttons -->
                    <!--<a href="#" class="btn-system btn-large"><i class="fa fa-tasks"></i> Check Out Features</a>
                    <a href="#" class="btn-system btn-large btn-wite"><i class="fa fa-download"></i> Purchase This Now</a>-->
                </div>
                <!-- End Section Content -->
            </div><!-- .container -->
        </div>
        <!-- End Purchase Section -->



        <div class="tilePrint">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ftilepic">
                            Digital
                            <br>
                            Ceramic
                            <br>
                            Art
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tilePrintlink">

                            ارائه دهنده خدمات تخصصی چاپ روی کاشی و سرامیک

                            <span class="fa fa-check wk"></span>
                            <br>
                            کاشی پخت سوم با چاپ دیجیتال

                            <span class="fa fa-check wk"></span>
                            <br>
                            چاپ روی کاشی با دو روش متفاوت

                            <span class="fa fa-check wk"></span>
                        </div>
                        <br>
                        <br>

                        <a href="#">چاپ کاشی فضای درونی</a>
                        <a href="#">چاپ کاشی فضای بیرونی</a>
                    </div>

                </div>
            </div>
        </div>





        <!-- Start Portfolio Section -->
        <div class="section full-width-portfolio" style="border-top:0; border-bottom:0; background:#fff;">
            <!-- Start Big Heading -->
            <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
                <h1> <strong>انواع خدمات چاپ صارم</strong></h1>
            </div>
            <!-- End Big Heading -->
            <!--<p class="text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                <br/>veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>-->
            <!-- Start Recent Projects Carousel -->
            <ul id="portfolio-list" data-animated="fadeIn">
                <li>
                    <img src="../Content/images/Portfolio-1/1.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">چاپ تیشرت</span>
                        <p class="body">T shirt print</p>

                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/2.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">چاپ لیوان</span>
                        <p class="body">Mug Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/3.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">
                            چاپ بشقاب و پیش دستی
                        </span>
                        <p class="body">Plate Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/4.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">
                            چاپ شال و روسری
                        </span>
                        <p class="body">Scarves Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/5.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">
                            چاپ ظروف پذیرائی
                        </span>
                        <p class="body">Dishes Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/6.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">چاپ کلاه</span>
                        <p class="body">Hat Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/7.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">
                            چاپ پرچم
                        </span>
                        <p class="body">Flag Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/8.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">
                            چاپ موس پد
                        </span>
                        <p class="body">Mouse Pad Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/9.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">چاپ پازل بازی</span>
                        <p class="body">Puzzle Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/10.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">چاپ تقدیرنامه</span>
                        <p class="body">Certificate Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/11.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">چاپ روی لباس کار</span>
                        <p class="body">Tile Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
                <li>
                    <img src="../Content/images/Portfolio-1/12.png" alt="" />
                    <div class="portfolio-item-content">
                        <span class="header">چاپ روی ساعت</span>
                        <p class="body">Wall clock Print</p>
                    </div>
                    <a href="#"><i class="more">+</i></a>
                </li>
            </ul>
            <!-- End Recent Projects Carousel -->

        </div>
        <!-- End Portfolio Section -->
        <!-- Start Testimonials Section -->
        <div style="padding-top:20px; padding-bottom:60px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <!-- Start Recent Posts Carousel -->
                        <div class="latest-posts">

                            <h4 class="classic-title"><span>راهنمای خرید از چاپ صارم</span><i class="fa fa-credit-card" style="padding:5px"></i></h4>
                            <ul class="w-list">
                                <li>شماره حساب<i class="fa fa-gavel" style="padding:5px"></i></li>
                                <li>لیست قیمت<i class="fa fa-gavel" style="padding:5px"></i></li>
                                <li>حفظ حریم شخصی<i class="fa fa-gavel" style="padding:5px"></i></li>
                                <li>قوانین ارجاع و تعویض<i class="fa fa-gavel" style="padding:5px"></i></li>
                                <li>راهنمای ثبت سفارش<i class="fa fa-gavel" style="padding:5px"></i></li>
                            </ul>
                        </div>
                        <!-- End Recent Posts Carousel -->

                    </div>
                    <div class="col-md-6">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>نمونه محصولات چاپ شده چاپ صارم</span><i class="fa fa-gift" style="padding:5px"></i></h4>

                        <!-- Start Testimonials Carousel -->
                        <ul class="w-list">
                            <li>نمونه لیوان تبلیغاتی شرکت غذا دارو<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه چاپ حروف روی تیشرت تبلیغاتی<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه تقدیرنامه مدرسه<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه تابلو کاشی پازلی نبرد شیر و گاو<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه بشقاب های چاپ شده با آثار Leonid Afremov<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه بشقاب های چاپ شده با آثار پیکاسو<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>چاپ لیوان تبلیغاتی پرسپولیس و استقلال<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه چاپ لباس نوزاد<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه ظروف پذیرائی شرکت های هواپیمائی<i class="fa fa-plus" style="padding:5px"></i></li>
                            <li>نمونه تابلو کاشی فضای داخلی شرکت GL<i class="fa fa-plus" style="padding:5px"></i></li>
                        </ul>
                        <!-- End Testimonials Carousel -->

                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonials Section -->
        <!-- Start Team Member Section -->
        <!-- End Team Member Section -->


        <div id="parallax-one" class="parallax" style="background-image:url(../Content/images/parallax/bg-02.jpg);">
            <div class="parallax-text-container-1">
                <div class="parallax-text-item">
                    <!--<div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <div class="counter-item">
                                    <i class="fa fa-cloud-upload"></i>
                                    <div class="timer" id="item1" data-to="991" data-speed="5000"></div>
                                    <h5>Files uploaded</h5>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <div class="counter-item">
                                    <i class="fa fa-check"></i>
                                    <div class="timer" id="item2" data-to="7394" data-speed="5000"></div>
                                    <h5>Projects completed</h5>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <div class="counter-item">
                                    <i class="fa fa-code"></i>
                                    <div class="timer" id="item3" data-to="18745" data-speed="5000"></div>
                                    <h5>Lines of code written</h5>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <div class="counter-item">
                                    <i class="fa fa-male"></i>
                                    <div class="timer" id="item4" data-to="8423" data-speed="5000"></div>
                                    <h5>Happy clients</h5>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>



        <!-- Start Pricing Table Section -->
        <!-- End Pricing Table Section -->
        <!-- Start Client/Partner Section -->
        <div class="partner">
            <div class="container">
                <div class="row">
                    <!-- Start Big Heading -->
                    <div class="big-title text-center">
                        <h1>مشتریان <strong>چاپ صارم</strong></h1>
                        <p class="title-desc">لیست برخی از مشتریان چاپ صارم</p>
                    </div>
                    <!-- End Big Heading -->
                    <!--Start Clients Carousel-->
                    <div class="our-clients">
                        <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">

                            <!-- Client 1 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c1.png" alt="" /></a>
                            </div>

                            <!-- Client 2 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c2.png" alt="" /></a>
                            </div>

                            <!-- Client 3 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c3.png" alt="" /></a>
                            </div>

                            <!-- Client 4 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c4.png" alt="" /></a>
                            </div>

                            <!-- Client 5 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c5.png" alt="" /></a>
                            </div>

                            <!-- Client 6 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c6.png" alt="" /></a>
                            </div>

                            <!-- Client 7 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c7.png" alt="" /></a>
                            </div>

                            <!-- Client 8 -->
                            <div class="client-item item">
                                <a href="#"><img src="../Content/images/c8.png" alt="" /></a>
                            </div>

                        </div>
                    </div>
                    <!-- End Clients Carousel -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div>
        <!-- End Client/Partner Section -->
       

    </div>
    <!-- End Full Body Container -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- Style Switcher -->
    <!--<div class="switcher-box">
        <a href="#" class="open-switcher show-switcher"><i class="fa fa-cog fa-2x"></i></a>
        <h4>Style Switcher</h4>
        <span>12 Predefined Color Skins</span>
        <ul class="colors-list">
            <li>
                <a onclick="setActiveStyleSheet('blue'); return false;" title="Blue" class="blue"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('sky-blue'); return false;" title="Sky Blue" class="sky-blue"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('cyan'); return false;" title="Cyan" class="cyan"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('jade'); return false;" title="Jade" class="jade"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('green'); return false;" title="Green" class="green"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('purple'); return false;" title="Purple" class="purple"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('pink'); return false;" title="Pink" class="pink"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('red'); return false;" title="Red" class="red"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('orange'); return false;" title="Orange" class="orange"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('yellow'); return false;" title="Yellow" class="yellow"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('peach'); return false;" title="Peach" class="peach"></a>
            </li>
            <li>
                <a onclick="setActiveStyleSheet('beige'); return false;" title="Biege" class="beige"></a>
            </li>
        </ul>
        <span>Top Bar Color</span>
        <select id="topbar-style" class="topbar-style">
            <option value="3">Color (Default)</option>
            <option value="1">Light </option>
            <option value="2">Dark</option>

        </select>
        <span>Layout Style</span>
        <select id="layout-style" class="layout-style">
            <option value="1">Wide</option>
            <option value="2">Boxed</option>
        </select>


    </div>-->
</body>
</html>