@model Domainclasses.Modes.ProductCategory
<div class="call-action call-action-boxed call-action-style2 clearfix text-right">

  <div class="row">

      <div class="col-md-3">
          @if (Model.ProductCategoryFileses.Count == 0)
          {

              <img  class="img-thumbnail" src="~/Content/images/image-not-found.jpg" alt="sarem chap | چاپ صارم " />
          }
          else
          {
              foreach (var file in Model.ProductCategoryFileses)
              {

                  var url = string.Format("/images/Services/productCategory/{0}", file.FileName);

                  <div>
                      <img class="img-thumbnail" src=@url alt="@file.FileName" />
                  </div>
              }

          }
      </div>
      <div class="col-md-9">
         <h3>@Html.DisplayFor(model => model.name)</h3> 

          <p>@Html.DisplayFor(model => model.describtion)
</p>
      </div>

  </div>
</div>

