@model Domainclasses.Modes.Product
<div class="call-action call-action-boxed call-action-style2 clearfix text-right">

    <div class="row">

        <div class="col-md-3">
            @if (Model.Files.Count == 0)
            {

                <img class="img-thumbnail" src="~/Content/images/image-not-found.jpg" alt="sarem chap | چاپ صارم " />
            }
            else
            {
                foreach (var file in Model.Files)
                {

                    var url = string.Format("/images/Services/Service/{0}", file.FileName);

                    <div>
                        <img class="img-thumbnail" src=@url alt="@file.FileName" />
                    </div>
                }

            }
        </div>

        <div class="col-md-9">
            <h3>@Html.DisplayFor(model => model.name)</h3>
            <br />
            <h5> گروه : @Html.DisplayFor(model => model.ProductCategory.name)</h5>

            <p style="direction:rtl">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.describtion))
        </p>
    </div>

</div>
</div>

