@model IEnumerable<Domainclasses.Modes.Chapter>

<ul class="dropdown">
@foreach (var item in Model)
            {
    <li>
        <a href="/view/Subject/list/@item.ChapterId">
            @item.Name
        </a>
    </li>
            }
</ul>

