@model IEnumerable<Domainclasses.Modes.Gallery>

<ul class="dropdown">
    @foreach (var item in Model)
    {
        <li>
            <a href="/home/selectgallery/@item.GalleryId">
                @item.name
            </a>
        </li>
    }
</ul>


