@model IEnumerable<Domainclasses.Modes.Gallery>

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a href="/home/selectgallery/@item.GalleryId">
                @item.name
            </a>
        </div>
    }


