<style>


    #owl-partner .item {
        margin: 3px;
    }

        #owl-partner .item img {
            display: block;
            width: 100%;
            height: auto;
        }


</style>
<!-- Start Client/Partner Section -->
<div class="partner">
    <div class="container">
        <div class="row">
            <!-- Start Big Heading -->
            <div class="big-title text-center">
                <h1>مشتریان <strong>چاپ صارم</strong></h1>
                <p class="title-desc">لیست برخی از مشتریان چاپ صارم</p>
            </div>
            <div id="owl-partner" class="owl-carousel">
                <div class="item"><img class="lazyOwl" data-src="../Content/images/c1.png" alt="Lazy Owl Image"></div>
                <div class="item">
                    <img class="lazyOwl" data-src="../Content/images/c2.png" alt="Lazy Owl Image">
                </div>
                <div class="item"><img class="lazyOwl" data-src="../Content/images/c3.png" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="../Content/images/c4.png" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="../Content/images/c5.png" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="../Content/images/c6.png" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="../Content/images/c7.png" alt="Lazy Owl Image"></div>
                <div class="item"><img class="lazyOwl" data-src="../Content/images/c8.png" alt="Lazy Owl Image"></div>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</div>
<script>


    $(document).ready(function () {

        $("#owl-partner").owlCarousel({
            items: 6,
            lazyLoad: true,
            navigation: false,
            pagination:true
        });

    });


</script>