@model Domainclasses.Modes.Chapter
<div class="call-action call-action-boxed call-action-style2 clearfix text-right">

    <div class="row">

        <div class="col-md-9">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
            <br />

        </div>

    </div>
</div>